/*----------------------------------------------------index ---------------------------------------------------------------------*/
body, html {
    background: url('https://c.stocksy.com/a/J03300/z9/726535.jpg'); 
    width: 100%; 
    top: 0; 
    left: 0;
    height: auto; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    font-family: "Verdana", sans-serif;
    font-weight: bold;
    display: inherit;
    white-space: normal;
    overflow: hidden;
    color: black;
    text-align: center;
}

.details {
    font-family: "Arial", sans-serif;
    color: black;
    display: inherit;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    font-size: 1.5em;
    text-align: left;
}

.footLink:hover,
.mouse:hover {
    cursor: pointer;
}

.butt {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.butt:hover {
  background-color: #ccc;
}

.butt:active {
  background-color: #999;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* ------------------------------------------------------Footer------------------------------------------------------------------*/

.footLink {
    color: white;
}

/* -------------------------------------------------Gallery---------------------------------------------------------------- */

.crop {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Add some shadows to create a card effect */
.card {
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    padding: 2em;
    border-radius: 10px;
    overflow: hidden;
}

/* ---------------------------------------------------------------Nav Bars------------------------------------------------------------------------- */

li a:hover{
    background-color: #006666 !important;
    cursor: pointer;
}

a.navitem{
    background-color: #006666 !important;
    cursor: pointer;
}

/* ---------------------------------------- sign up ---------------------------------------------------------------- */
/* Full-width input fields */
.signForm {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
.signForm:focus {
  background-color: #ddd;
  outline: none;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px !important;
  background-color: #f44336 !important;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left !important;
  width: 50% !important;
}

/* Set a style for all buttons */
.clearfix button { 
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.clearfix button:hover {
  opacity:1;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto !important; /* Enable scroll if needed */
  background-color: hsla(120, 0%, 0%, 0.3);
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #ccc !important;
  cursor: pointer;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}
