/*----------------------------------------------------index ---------------------------------------------------------------------*/
body, html {
    background-color: white;
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    font-family: "Times New Roman", serif;
    font-weight: bold;
    display: inherit;
    white-space: normal;
    overflow: hidden;
    color: black;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}

.details {
    display: block;
    font-family: "Times New Roman", serif;
    text-align: left;
    color: black;
    font-size: 1.5em;
}

.footLink:hover,
.mouse:hover {
    cursor: pointer;
}

.bigPicture {
    width: 70%;
    height: auto;
    margin-left: 2em;
    margin-right: 2em;
}

.text{
    margin-left: 2em;
    margin-right: 2em;
    display: inherit;
    white-space: normal;
    overflow: hidden;
}

/*----------------------------------------------------------- Rating -----------------------------------------------------------------*/
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

/* ------------------------------------------------------Footer------------------------------------------------------------------*/

.footLink {
    color: white;
}

/* -------------------------------------------------Gallery---------------------------------------------------------------- */

#crop {
    width: auto;
    height: 35%;
    object-fit: cover;
}

/* Add some shadows to create a card effect */
.card {
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

.row {
    overflow: hidden;
}

[class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

/* ---------------------------------------------------------------Nav Bars------------------------------------------------------------------------- */

li a:hover{
    background-color: #006666 !important;
    cursor: pointer;
}

a.navitem{
    background-color: #006666 !important;
    cursor: pointer;
}

/* ---------------------------------------- sign up ---------------------------------------------------------------- */
/* Full-width input fields */
.signForm {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
.signForm:focus {
  background-color: #ddd;
  outline: none;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px !important;
  background-color: #f44336 !important;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left !important;
  width: 50% !important;
}

/* Set a style for all buttons */
.clearfix button { 
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.clearfix button:hover {
  opacity:1;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto !important; /* Enable scroll if needed */
  background-color: hsla(120, 0%, 0%, 0.3);
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #ccc !important;
  cursor: pointer;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}
